/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4D4D4D; /* Dark Liver */
  color: #EAEAEA; /* Bright Gray */
}

header {
  background-color: #370B55; /* Russian Violet */
  color: #EAEAEA; /* Bright Gray */
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 1rem;
}

header nav ul li a {
  color: #EAEAEA; /* Bright Gray */
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #AB74CF; /* Rich Lavender */
}

.nav-photo {
  height: 40px;
  width: auto;
  border-radius: 50%;
  border: 2px solid #EAEAEA; /* Bright Gray */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
  padding: 1rem;
  margin-top: 70px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #370B55; /* Russian Violet */
  color: #EAEAEA; /* Bright Gray */
}

button {
  background-color: #8136B2; /* Grape */
  color: #EAEAEA; /* Bright Gray */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #AB74CF; /* Rich Lavender */
}

input, textarea, select {
  background-color: #EAEAEA; /* Bright Gray */
  color: #4D4D4D; /* Dark Liver */
  border: 1px solid #8136B2; /* Grape */
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #AB74CF; /* Rich Lavender */
}

h1, h2, h3 {
  color: #AB74CF; /* Rich Lavender */
}

.car-item {
  background-color: #370B55; /* Russian Violet */
  color: #EAEAEA; /* Bright Gray */
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.car-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
#owner-car{
  height: 500px;
  width: 500px;
}
/* Grid layout for car sections */
#newCars, #usedCars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
  gap: 20px; /* Space between grid items */
  margin-top: 20px;
}

.car-item {
  background-color: #370B55; /* Russian Violet */
  color: #EAEAEA; /* Bright Gray */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.car-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}